:root
{
    /* Spacing variables */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-1: 1rem;
    --spacing-1-5: 1.5rem;
    --spacing-2: 2rem;
    --spacing-2-5: 2.5rem;
    --spacing-3: 3rem;
    --spacing-4: 4rem;
    --spacing-5: 5rem;
    --spacing-6: 6rem;
}