.nav
{
    backdrop-filter: blur(var(--spacing-xs));
    transition: all 0.3s ease;
    max-height: var(--navbar-height);

    &--floating
    {
        width: fit-content;
        justify-self: center;
        position: fixed;
        bottom: var(--spacing-2);
        left: var(--spacing-2);
        right: var(--spacing-2);
        z-index: var(--z-sticky);
        backdrop-filter: blur(var(--spacing-xs));

        ul
        {

            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-2);
            padding: var(--spacing-sm);

        }

        @media (max-width: 768px)
        {
            position: fixed;
            bottom: var(--spacing-1);
            right: 0;
            left: 0;


            ul
            {
                padding: var(--spacing-xs);


                li
                {
                    animation-delay: 0.4s;

                    a
                    {
                        display: inline-block;
                        font-size: var(--font-xl);
                    }
                }
            }
        }


    }

}


.navContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;

    @media (min-width: 1200px)
    {
        max-width: var(--container-full);
        margin: 0 auto;
    }
}



.navMenu
{
    display: flex;
    list-style: none;
    gap: var(--spacing-2);
    padding: 0 var(--spacing-1);
    background-color: var(--shadow-deep);
    border-radius: var(--radius-md);

    @media (min-width: 1200px)
    {
        gap: var(--spacing-3);
    }

    &__item
    {
        animation-delay: 0.4s;

        a
        {
            display: inline-block;
            color: var(--color-text-light);
            text-decoration: none;
            font-size: var(--font-4xl);

        }

    }
}

.logo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(var(--spacing-xs));

    &__img
    {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }

    &__text
    {
        font-size: var(--font-3xl);
        color: var(--color-text-light);
        text-align: center;

        @media (max-width: 768px)
        {
            display: flex;
            flex-direction: column;
        }

        &--highlight
        {
            color: var(--color-primary-light);
        }

        &--small
        {
            font-size: var(--font-sm);
            color: var(--color-text-muted);
        }
    }
}